<div class="content-section-a">
  <div class="container">
  	<p>&nbsp;</p>
  	<p>&nbsp;</p>
    <div class="row">
      <div class="col-lg-12 col-sm-12">
        <div class="clearfix"></div>
        <h2 class="section-heading">eBook Uploader<br></h2>
        <p class="lead">A special thanks to <a target="_blank" href="http://join.deathtothestockphoto.com/">Death to the Stock Photo</a> for providing the photographs that you see in this template. Visit their website to become a member.</p>
      </div>
      <div class="col-log-12 col-sm-12">
      	<%= simple_form_for @document do |d| %>
				  <%= d.input :ebook, label: 'Select eBook' %>
				  <%= d.button :submit %>
				<% end %>
      </div>
    </div>
  </div>
  <!-- /.container -->
</div>